body {
    /* display:flex; */ 
    background-color:#2C2D35;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 53px;
    padding: 0px 40px;
    border-radius: 32px;
    width: 1300px;
}

.card-block {

}

.badge {
    background-color: #191919;
    color: #fff;
    font-size: 17px;
    font-weight: 400px;
    line-height: 27px;
    width: fit-content;
    padding: 0 16px;
    border-radius: 6px;
    border-bottom: 48.44px;
    margin-bottom: 48px;
    margin-top: 48px;
}

.episode {
    color: #118DA8;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 17.56px;
}

.title {
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    color: #fff;
    margin-bottom: 28px;
}

.subtitle {
    color: #FFFFFFB2;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
    width: 757px;
}

.btn {
    color: #fff;
    background-color: #118DA8;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    border: none;
    border-radius: 6px;
    padding: 12px 15px 12px 20px;
    margin-bottom: 40px;
}

.card2 {
    background-color: #E1EDE6;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 514px;
    margin-top: 309px;
}

.png {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
}

.anri-selin {
    color:#86928B;
    width: 93px;
    height: 19px;
    margin-top: 15px;
    margin-left: 20px;
}

.dama {
    color: #2C2D35;
    width: 200px;
    height: 28px;
    margin-top: 10px;
    margin-left: 20px;
}

.ackril {
    color: #2C2D35;
    width: 250px;
    height: 19px;
    margin-top: 10px;
    margin-left: 20px;
}

.prise {
    color: #598D66;
    width: 103px;
    height: 23px;
    margin-top: 30px;
    margin-left: 20px;
}

.png2 {
    color: #598D66;
    width: 250px;
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 50px;
    text-align: center;
    background-color: transparent;
    border: 1px #598D66 solid;
    font-size: 18px;
}

.card3 {
    display: flex;
    flex-direction: column;
    margin-top: 221px;
    width: 380px;
    height: 582px;
    background-color: #fff;
    border-radius: 10px;
}

.img {
    width: 380px;
    height: 245px;
}

.card-box {
    display: flex;
    gap: 150px;
}

.fairy-tale {
    margin-top: 50px;
    margin-left: 44px;
    margin-bottom: 12px;
    width: 247px;
    height: 35px;
    font-size: 24px;
    font-weight: 700;
}

.description {
    color: #2E363E;
    font-size: 16px;
    margin-left: 44px;
    margin-bottom: 24px;
    font-size: 16px;
    width: 240px;
}

.prise2 {
    color: #434B53;
    font-size: 24px;
    margin-left: 44px;
    margin-bottom: 14px; 
    font-weight: 500;
    line-height: 150%;
}

.buy {
    color:#2E363E;
    margin-bottom: 50px;
    margin-left: 44px;
    width: 163px;
    height: 68px;
    font-size: 18px;
    line-height: 68px;
    background-color: #FED84C;
    text-align: center;
    border-radius: 8px;
}

.card4 {
    display: flex;
    flex-direction: column;
    background-color: #0C0B15;
    width: 330px;
    height: 400px;
    margin-top: 403px;
    border-radius: 10px;
}

.imgs {
    display: flex;
}

.img2 {
    width: 60px;
    height: 60px;
    margin-left: 27px;
    margin-bottom: 18px;
}

.img3 {
    width: 28px;
    height: 6px;
    margin-top: 23px;
    margin-left: 191px;
}

.About-me {
    color:#FFFFFF;
    font-size: 22px;
    margin-left: 26px;
    margin-bottom: 24px;
} 

.Jason-Maning {
    color: #809FB8;
    font-size: 18px;
    margin-left: 26px;
    margin-bottom: 26px;
}

.description2 {
    color:#809FB8;
    font-size: 16px;
    margin-top: 26px;
    margin-left: 28px;
}