body {
    /* display:flex; */ 
    background-color:#2C2D35;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.galerey-card2 {
    background-color: #E1EDE6;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 730px;
}

.galerey-card2__anri-selin {
    color:#86928B;
    width: 133px;
    height: 21px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
}

.galerey-card2__dama {
    color: #2C2D35;
    width: fit-content;
    height: 28px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
}

.galerey-card2__ackril {
    color: #2C2D35;
    width: 310px;
    height: 21px;
    margin-top: 8px;
    margin-left: 20px;
    font-size: 18px;
}

.galerey-card2__prise2 {
    color: #598D66;
    width: 122 px;
    height: 28px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 24px;
}

.galerey-card2__png2 {
    color: #598D66;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 50px;
    text-align: center;
    background-color: transparent;
    border: 1px #598D66 solid;
    font-size: 18px;
}

.galerey {
    display:grid;
    grid-template-columns: 350px 350px;
    gap: 20px;
}

.galerey2 {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 20px;
}