.card {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 582px;
    background-color: #fff;
    border-radius: 10px;
}

.img {
    width: 380px;
    height: 245px;
}

.block {
    margin-top: 50px;
    margin-left: 44px;
    margin-bottom: 12px;
    width: 247px;
    height: 35px;
    font-size: 24px;
    font-weight: 700;
}

.description {
    color: #2E363E;
    font-size: 16px;
    margin-left: 44px;
    margin-bottom: 24px;
    font-size: 16px;
    width: 240px;
}

.prise {
    color: #434B53;
    font-size: 24px;
    margin-left: 44px;
    margin-bottom: 14px; 
    font-weight: 500;
    line-height: 150%;
}

.buy {
    color:#2E363E;
    margin-bottom: 50px;
    margin-left: 44px;
    width: 163px;
    height: 68px;
    font-size: 18px;
    line-height: 68px;
    background-color: #FED84C;
    text-align: center;
    border-radius: 8px;
}
.conteiner {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    gap: 20px;
    justify-content: center;
}

.card-block {
    border: 1px solid #F2F6FA;
}